#box{
    background-color: blue;
    width: 200px;
    height: 100px;
    border-radius: 15px;
    margin: 100 px;
    margin-left: 50px;
    
    
}
P{
    margin-left: 50px;
    margin-bottom: 50px;
    
    
    
}