.container{
    background-image: url(./download.jpg);
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: center;
border-radius: 20px;
}
p{
    color: antiquewhite;
    font-size: 30px;
  
   /* text-align: justify; */
    
}